html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body,html{
  position:relative;
  height:100%!important
}
body {
  font-size: 13px
  }

#app{
   background: #34425a;
   position: relative;
   overflow-x: hidden;
   -webkit-transition: -webkit-transform 0.4s;
   -moz-transition: -moz-transform 0.4s;
   transition: transform 0.4s;
   box-shadow: 0 0 30px #241d20;
   min-height: 100%;
}
.page-header-fixed .page-sidebar {
    padding-top: 60px;
}
.page-header-fixed .navbar {
    position: fixed !important;
    right: 0;
    left: 0;
}
.navbar {
    background: #FFF !important;
    padding: 0;
    height: 60px;
    z-index: 999;
    border-radius: 0;
    border: none;
    margin: auto;
    padding: 0 !important;
    position: relative;
    -webkit-box-shadow: 0 5px 5px -5px rgba(0,0,0,.1);
    -moz-box-shadow: 0 5px 5px -5px rgba(0,0,0,.1);
    box-shadow: 0 5px 5px -5px rgba(0,0,0,.1);
}
.content-wrap{
  background: #34425A;
   overflow: hidden;
}
.page-content{
  margin-bottom:50px;
  padding-left:256px;
}
.page-sidebar {
    display: block;
    z-index: 998;
    float: left;
    height: auto!important;
    overflow: visible!important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.sidebar {
    background: #34425A;
}
.page-sidebar .page-sidebar-inner {
    height: 100%!important;
    overflow: hidden;
    width: auto;
}
.menu {
    padding-top: 40px;
    margin: 0;
    width: 160px;
    color: #fff;
    position: relative;
    display: block;
}

.menu a div{
    color: #899dc1;
}
.menu  div{
    color: #fff;
}
.menu svg{
    color: #fff important;
}
.menu a {
    display: block;
    padding: 15px 18px;
    background: 0 0;
    text-decoration: none;
    font-size: 13px;
}
.menu {
    background: #34425A;
}
.page-inner {
    min-height: 1080px !important;
    background: #F1F4F9;
    position: relative;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 50px;
}

.page-header-fixed:not(.page-sidebar-fixed):not(.page-horizontal-bar) .page-inner {
    padding: 60px 0;
}

#main-wrapper {
    padding: 0;
    min-height: 1300px !important;
    margin-bottom: 50px;
}
.page-footer {
    background: #fff;
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    padding: 14px 18px;

}
.page-title {
    padding: 20px;
    background: #e9edf2;
    border-bottom: 1px solid #dee2e8;
    color:#34425A !important
}
.page-title h3 {
    font-size: 24px;
    font-weight: 300;
    color: #74767d;
    padding: 0;
    margin: 0 0 4px;
}
.standard-row{
  border: 1px solid #000;
}
.griddle th{
  background-color:#EDEDEF;
  border:0px;
  border-bottom:1px solid #DDD;
  color:#222;
  padding:5px;
}

.griddle td{
  padding:5px !important;
  background-color:#FFF !important;
  border-top: 1px solid #EDEDEF !important;
  color:#222 !important;
}

.watersense-logo {
  height: 24px;
}

.no-s {
    margin: 0!important;
    padding: 0!important;
}

p {
    display: block;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 22px;
    margin: 0 0 10px;
    font-style: normal;
    white-space: normal;
    font-size: 14px;
}
.card-container{
  display:flex;
}
.embeded{
  width:48%;
  margin-left:10px;
}
.part{
  width: 40%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.leaflet-container {
    height: 400px;
    width: 100%;
}
.deviceform.leaflet-container{
    height:150px;
}
.sk-fade-in {
    float: right;
}
/* Mobile hiding/showing */
.navbar > button {
  display: block;
}
.navbar > div > img{
   display: block;
   height: 40px;
   padding-top: 8px;
   padding-left: 10px;
}
.navbar .profile-menu{
  padding: 0;
  width:auto !important;
}
.navbar .profile-menu svg{
  color: #34425A !important;
  fill: #34425A !important;

}
.navbar .user-name{
    color: #34425A !important;
    fill: #34425A !important;
    display: block;
    font-size: 16px;
    height: 21px;
    margin-bottom: 3px;
    float: left;
    margin-top: 3px;
}
.sidebar-header {
    overflow: hidden;
    clear: both;
    position: relative;
    padding: 20px;
}

.sidebar-profile-image {
    display: block;
}

.sidebar-profile {
    overflow: hidden;
    position: relative;
    display: block;
}

.sidebar-profile a {
    text-decoration: none;
}

.sidebar-profile img {
    width: 60px;
    display: block;
    margin: 0 auto;
}

.sidebar-profile span {
    color: #fff;
    font-weight: 600;
    display: block;
    padding: 8px 0 0 0;
    text-align: center;
}

.sidebar-profile span small {
    color: #90999c;
    padding: 5px 0;
}

.profile {
    line-height: 60px;
    margin-left: 5px;
    font-size: 14px;
}
.sidebar-profile .img-circle {
    width: 60px;
    display: block !important;
    margin: 0 auto;
}
/* Laptop hiding/showing */
@media screen and (min-width: 768px) {
  .navbar > button{
    display: none !important;
  }

}

/* Desktop hiding/showing */
@media screen and (min-width: 992px) {
.navbar > button{
    display: none !important;
  }
}

li {
  margin-left: 15px;
}

ul {
      list-style-position: inside;
}

.section {
  margin-top: 50px;
  margin-bottom: 100px;
}

.topIcon {
  vertical-align: top;
}

.addResourceButton {
  float: right;
}

.sensorButton {
  margin: 20px;
}

/* Device details */

.mapCard {
  padding: 10px;
  max-width: 500px;
  margin-top: 10px;
  overflow: hidden;
}

.topRightButton {
  float: right;
  margin: 10px !important;
}

.Typography {
  display: inline-block;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  margin: 15px;
}

.cardTitleIcons {
  display: inline-block;
  float: right;
  margin: 5px;
}

.longCard {
  overflow: hidden;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.contentCards {
  clear:left;
  position: relative;
  padding-left: 10px !important;
}

.boardIcon {
  text-align:center;
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 25px;
  position: relative;
  z-index: 10;
}

/* Sensor */

.card {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  /* padding: 10px; */
  margin-left: 10px;
  margin-bottom: 10px;
  min-width: 250px;
  float: left;
}

.sensValue {
  padding: 5px;
  float: left
}

.leftIcon {
  display: inline-block;
  float: left;
}

.cardRed {
  background-color: #ff4141 !important;
  box-shadow: rgb(0, 0, 0) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px !important;
}

.cardGreen {
  background-color: #32bf32 !important;
  box-shadow: rgb(0, 0, 0) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px !important;
}

/* Gateways */

.boardIcon {
  float: left;
  position: relative;
  z-index: 10;
}

/* Notifications */

.notifBlock {
  text-align: center;
  margin-bottom: 15px;
  margin-left: 25px;
  margin-right: 25px;
}

.notif {
  margin-top: 20px;
  width: 100%;
  position: relative;
  top: 0px;
  height: 100%;
}

.notifSubject {
  font-size: 18px;
  margin: 10px;
  font-family: roboto;
  font-weight: bold;
}

.notifIcon {
  float: left;
  display: inline-block;
  margin-left: 20px;
}

.notifExpr {
  font-size: 20pt;
  font-family: 'courier new';
  float: left;
  margin-top: 15px;
  margin-left: 10px;
}

.notifDeviceAttrs {
  clear: both; 
}

.notifDevices {
  text-align: right;
  width: 250px;
  float: left;
  display: inline-block;
}

.notifArrow {
  width: 30px;
  float: left;
  display: inline-block;
}

.notifAttrs {
  text-align: left;
  width: 250px;
  float: left;
  display: inline-block;
}

.notifMsg {
  font-size: 14pt;
  margin: 10px;
  font-family: initial;
  font-style: italic;
}

.notifUsersChannels {
  clear: both;
}

.notifUsers {
  width: 250px;
  float: left;
  display: inline-block;
}

.notifChannels {
  width: 250px;
  float: left;
  display: inline-block;
  margin-left: 30px;
}

.notifMisc {
  clear: both;
}

.notifExpires {
  width: 250px;
  clear: left;
  display: inline-block;
  margin-left: 5px;
  margin-top: 25px;
  margin-bottom: 20px;
}

.notifDesc {
  width: 250px;
  float: left;
  display: inline-block;
}

.notifIcon {
  vertical-align: top;
  text-align: center;
}

.notifZone {
  clear: left;
}

.notifDetails {
  padding: 10px;
  margin-top: 10px;
  overflow: hidden;
}

.notifBlocTitle {
  margin-top: 10px;
  margin-left: 25px;
  display: flex;
  align-items: center;
}

.notifBloc {
  margin-bottom: 20px;
  margin-top: 10px;
}

.notifInfo {
  clear: left;
  margin-top: 20px;
  font-weight: bold;
}


/* Message banner */

.errorBanner {
  border-style: dashed;
  border-width: 2px;
  padding-left: 15px;
  padding-right: 15px;
}

.errorBannerOK {
  position: absolute;
  top: 10px;
}

/* Chart */

.deviceChart {
  margin: 10px;
}

.graphForm {
  padding: 10px;
  margin: 10px;
}

.icon {
  float: left;
}

a {
  color: #000 !important
}

a, a:visited, a:focus, a:active, a:hover{
  outline:0 none !important;
}

pre{
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.QRCode {
  padding: 10px;
  width: max-content;
  margin-top: 10px;
  overflow: hidden;
  text-align: center;
}

.help {
  cursor: pointer;
  box-shadow: 5px 10px 8px #888888;
  border-radius: 10px;
  background-color: aliceblue;
  position: fixed;
  width: 1000px;
  max-width: 100%;
  height: 800px;
  max-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  padding: 20px;
  overflow: auto;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

pre code {
  background-color: #f2f2f2;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}

.helpIcon {
  font-size: 32px !important;
}

.titleIcons {
  display: flex;
  margin-left: auto;
  align-items: center;
}

/*******************my code starts******************/

.parent {
  width: 600px;
  height: 350px;
  /* border: solid; */
}
.typo {
  /* border: dashed; */
}
.notif-contents {
  height: auto;
  display: flex;
}
.notif-contents-right {
  width: 60%;
  height: 100%;
}
.notif-contents-left {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notifMsg {
  font-size: 16; 
  padding: "10px 10px 10px 0px"
}